<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
    <gcServer enabled="true"/>
  </runtime>

	<connectionStrings>
		<add name="DefaultConnection" connectionString="Server=DESKTOP-9BPNFM1\SQLEXPRESS; Database=ArsAfiliados_LuisEduardoFrias; Trusted_Connection=True;"/>
	</connectionStrings>
</configuration>